@charset "UTF-8";
.gallery__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin: 0;
  text-align: center; }
  .gallery__title--top {
    margin-top: 45px;
    margin-bottom: 49px; }
  .gallery__title--bottom {
    margin-top: 45px;
    margin-bottom: 40px; }

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.gallery__item {
  margin-bottom: 22px;
  background-color: #f2f2f2; }
  .gallery__item--panorama {
    padding-top: 143px;
    position: relative; }
    .gallery__item--panorama:after {
      content: 'Панорама дня';
      padding-top: 5px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      background-color: #d22856;
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      height: 31px; }

.gallery__wrapper {
  padding-left: 18px; }

.gallery__image-link {
  position: absolute;
  top: 0;
  left: -20px;
  padding: 0;
  margin: 0; }

.gallery__author-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.gallery__author-status {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #283645; }

.gallery__description {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.gallery__like {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  padding-left: 32px;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  background-image: url(../../img/heart.svg);
  background-position: 0 6px;
  background-repeat: no-repeat; }
